node_modules/
.env
.env.*
!.env.example

logs/
*.log
public/downloads/
backend/uploads/recordings/
backend/uploads/screenshots/


# Recording files
*.mp4
*.webm
*.mov
*.avi
*.mkv

# Screenshot files
*.png
*.jpg
*.jpeg